<!DOCTYPE html>
<html lang="kg">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Айыл окмот</title>
  <link rel="icon" type="image/x-icon" href="img/icons/favicon.ico">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/swipebox.min.css">
</head>

<body>

  <!-- top header -->
  <div class="header_top_line ">
    <div class="container">
      <div class="data">22:52 02 - сентябрь 2021</div>
      <div class="line_before"></div>
      <div class="social d-flex align-items-center">
        <a href="#"><img src="img/icons/insta.svg" alt="Instagram" class="icon"></a>
        <a href="#"><img src="img/icons/fb.svg" alt="Facebook" class="icon"></a>
      </div>
      <div class="line_before"></div>
      <div class="lang-pick">
        <a href="#" class="lang-pick__item kg"></a>
        <a href="#" class="lang-pick__item ru"></a>
      </div>
    </div>

  </div>
  <!-- header -->
  <header class="header">

    <div class="container">

      <div class="header_middle_line">
        <div class="logo">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
          <h2>Он эки бел <br> Айыл аймагы</h2>
        </div>
        <div class="burger-menu"></div>
        <div class="header_menu">
          <div class="btn_close">&times;</div>
          <div class="container">
            <nav>
              <div class="nav_item">
                <div class="nav_item_btn">Айыл аймагы</div>
                <div class="nav_item_content">
                  <a href="#">Жалпы аймагы</a>
                  <a href="#">Айыл аймагынын паспорту</a>
                </div>
              </div>
              <div class="nav_item">
                <div class="nav_item_btn">Айыл өкмөтү</div>
                <div class="nav_item_content">
                  <a href="#">Дареги</a>
                  <a href="#">Иш чаралар</a>
                  <a href="#">Айыл өкмөтүнүн апараты</a>
                  <a href="#">Кулактандыруулар</a>
                </div>
              </div>
              <div class="nav_item">
                <div class="nav_item_btn">Айылдык кеңеш</div>
                <div class="nav_item_content">
                  <a href="#">Таржымалы</a>
                  <a href="#">Айылыдк кеңештин түзүмү</a>
                  <a href="#">Айылыдк кеңештин ишмердүүлүгү</a>
                  <a href="#">Айылыдк кеңештин иш-пландары</a>
                  <a href="#">Токтомдор</a>
                </div>
              </div>

            </nav>
          </div>
        </div>
      </div>
    </div>

  </header>


  <!-- top-line-block -->
  <div class="top_line_block">
    <div class="container">
      <ul>
        <li><a href="#">Башкы</a></li>
        <li><a href="#">Токтомдор</a></li>
        <li><a href="#">Токтом аты</a></li>
      </ul>
    </div>
  </div>

  <!-- limitter middle -->
  <div class="container">
    <div class="limitter">
      <div class="left_block">
        <!-- Gallery -->
        <div class="sblock-view">
          <div class="sblock-view__title">
            <h3>Төрага Талант Мамытов кыргыз-казак биримдигин даңазалаган аллеянын ачылышына катышты</h3>
          </div>
          <div class="sblock-view__content">
            <div class="published">
              <div class="date_created">
                <img src="img/icons/calendar.svg" alt="">
                <span>02-09-2021</span>
              </div>
              <div class="time_created">
                <img src="img/icons/clock.svg" alt="">
                <span>17:49</span>
              </div>
            </div>
            <div class="text">
              <p>Бүгүн, 3-сентябрда Төрага Талант Мамытов баштаган Жогорку Кеңештин депутаттары Кыргыз Республикасынын
                жана Казакстан Республикасынын Эгемендүүлүгүнүн 30 жылдыгына карата эки элдин биримдигин даңазалаган
                “Достук” аллеясынын ачылышына катышты.</p>
              <p>Аземде сөз сүйлөгөн Төрага Талант Мамытов: “Куштун эки канатындай кыргыз менен казак эзелтен
                эриш-аркак, орток көчмөн маданиятын калыптандырышкан. Бир тууган эки эл чокусу бийик Ала-Тоону,
                касиеттүү кең талааны турак кылып келишкен. Кыргыз-казак байланышы кылымдардан бери келе жаткан кандаш,
                тамырлаш байланыш. Бүгүнкү ачылып жаткан парк мунун анык мисалы”, – деди.</p>
              <p>Салтанаттын алкагында боордош эки өлкөнүн достугун чагылдырган дарак көчөттөрү отургузулуп, бир катар
                куттуктоо сөздөрү айтылды.</p>
            </div>
            <iframe src="./24398500.pdf" width="100%" height="600"></iframe>
          </div>
        </div>
      </div>
      <div class="right_block">
        <div class="last_sblock">
          <h3>Кулактандыруулар</h3>
          <a href="#">Төрага Талант Мамытов кыргыз-казак биримдигин даңазалаган аллеянын ачылышына катышты</a>
          <a href="#">Төрага Талант Мамытов кыргыз-казак биримдигин даңазалаган аллеянын ачылышына катышты</a>
        </div>
        <div class="videos">
          <iframe width="100%" src="https://www.youtube.com/embed/_Sw62R5lbWA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <iframe width="100%" src="https://www.youtube.com/embed/_Sw62R5lbWA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- maps -->
  <div class="map" style="margin-top: 10px;">
    <div class="container">
      <h2 class="text_title">Карта</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10200.24027279701!2d72.79301967466778!3d40.52944580044355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdac05225c2cfd%3A0x16bd460bd75f22ab!2z0J7RiNGB0LrQuNC5INCT0L7RgdGD0LTQsNGA0YHRgtCy0LXQvdC90YvQuSDRg9C90LjQstC10YDRgdC40YLQtdGCICjQk9C70LDQstC90YvQuSDQutC-0YDQv9GD0YEp!5e0!3m2!1sru!2skg!4v1633803968586!5m2!1sru!2skg"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>


  <!-- footer -->
  <footer>
    <div class="container">
      <div class="footer_content">
        <div class="footer_content_item">
          <h4>Айылдык кеңеш</h4>
          <ul>
            <li><a href="#">Таржымалы</a></li>
            <li><a href="#">Айылыдк кеңештин түзүмү</a></li>
            <li><a href="#">Айылыдк кеңештин ишмердүүлүгү</a></li>
            <li><a href="#">Айылыдк кеңештин иш-пландары</a></li>
          </ul>
        </div>
        <div class="footer_content_item">
          <h4>Айыл өкмөтү</h4>
          <ul>
            <li><a href="#">Дареги</a></li>
            <li><a href="#">Айыл өкмөтүнүн апараты</a></li>
            <li><a href="#">Иш-пландары</a></li>
          </ul>
        </div>
        <div class="footer_content_item">
          <h4>Айыл аймагы</h4>
          <ul>
            <li><a href="#">Жалпы аймагы</a></li>
            <li><a href="#">Айыл аймагынын паспорту</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>&copy; Баардык укуктар корголгон 2021</p>
      </div>
    </div>
  </footer>


  <script src="js/jquery3.6.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>